<div
  class="container-expand d-flex justify-content-center flex-column align-items-center"
  style="
    background-image: url(../../../assets/recursos/fondo4.png);
    padding: 50px;
    height: 900px;
    background-size: contain;
    "
>
  <div class="row">
    <div class="d-flex justify-content-center flex-column align-items-center">
     <h1>¡Es hora de aprender jugando!</h1>
      <main class="col col-lg-3 form-signin">       
        <form class="d-flex justify-content-around flex-column">
          <h1 class="form-tittle">Trivia Sano</h1>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input type="email" class="form-control" placeholder="ejemplo@email.mx">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Contraseña
            </label>
            <input type="password" class="form-control" placeholder="●●●●●●●●●●●●">
          </div>
          <div style="text-align: center;"><button type="submit" class="btn btn-primary">Iniciar sesión</button></div>
          <div style="text-align: center;">¿Olvidaste tu contraseña?</div>
          <div style="text-align: center;"><a routerLink="/registro" routerLinkActive="active">Crear cuenta</a></div>
        </form>
      </main>
    </div>
  </div>
</div>